<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Homepage <%=4+5+1%></h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem magni
         neque ipsum impedit consequatur blanditiis quasi magnam minus vel?</p>

    <p>Some Gibberish text goes in here</p>
</body>
</html>